  
		body{background: #f2f2f2}
		
		.content_container{
			width: 90%;
			margin: auto;
			margin-top: 30px;
			display: grid;
			grid-template-columns: 35% 60%;
			grid-column-gap: 5%;
			align-items: center;
		

		}
		.content_container section{
			box-shadow: 1px 1px 2px grey,inset 1px 1px 2px grey;
		}
		.leveldetail{
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color:white;
			padding: 40px 20px;
			border-bottom: 20px solid grey;
		}
		.leveldetail span{
			font-size: 40px;
			font-family: "Satisfy";
			padding: 10px 10px;
		}
		.leveldetail img{
			width: 100%;

		}

		.leveldetail button{
			font-size: 20px;
			border: 1px solid grey;
			background-color: green;
			color: white;
			width: 300px;
			height: 50px;
		}
		.statistics{
			background-color: white;
			display: flex;
			flex-direction: column;
			text-align: center;
			padding:70px 0; 
			border-bottom: 20px solid grey;

		}
		.statistics span{
			font-size: 30px;
			font-family: "Satisfy";
			font-weight:bold;

		}
		.statistics p{
			font-size: 25px;
		}
		.d{
			width: 33%;
			text-align: center;
			align-items: center;
			display: flex;
			flex-direction: column;
		}
		.details{
			display: flex;
			justify-content: space-evenly;
			padding:30px 30px;
		}
		.details span{
			font-size: 20px;
		}
		.popup_container{
			
		}
		.popup_content{
			width: 70%;
			margin: auto;
			font-size: 20px;
			background: linear-gradient(to bottom right,#116149,#13aa52);
			color: white;
			padding: 40px 40px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			position: relative;
		}
		.popup_content div{
			display: flex;
			flex-direction: column;
			
		}
		.accountpopup span{
			cursor: pointer;
			margin: 20px;
		}
		.popup_content img{
			position: absolute;
			top: 10px;
			right: 10px;
		}
		.accountpopup{
			position: absolute;
			top: 20%;
			bottom: 0;
			width: 100%;
			z-index: 200;
			display: none;
		}
		

        @media (max-width: 1000px){
        .content_container{	
			grid-template-columns:1fr;
			
		}
		.leveldetail img{
			width:60%;

		}
        }
        @media (max-width: 700px){
        	.leveldetail img{
        		width: 80%;

        	}
        	.leveldetail{
        		padding: 40px 0;
        	}
        	.details{
        		flex-direction: column;
        		align-items: center;
        	}
        	.d{
        		margin: 20px;
        	}
        	.content_container section{
                box-shadow: none;
        	}
        }